body {
  margin: 0;
  overflow-x:hidden;
    background: black;
}

#landingPageCanvas{
/*    border:1px solid black;*/
    position: relative;
    top: 0px;
    left:0px;
}
#aboutMeCanvas{
    position: relative;
    top: -5px;
    left:0px;
    
}
#TACanvas{
    position: relative;
/*    top: -10px;*/
/*    float:left;*/
    left:100px;   
    border: 2px solid white;
}
::-webkit-scrollbar { 
    display: none; 
}